<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title" style="font-size:50px">{{site.username}}</span>
        <span class="site-description" style="font-size:30px">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:contact@neuralconcept.com"><i class="icon fa fa-envelope"></i></a>
      </div>
  </div>
<!--  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>-->
</div>
