<!DOCTYPE html>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #CCCC00;
        background-size: 100%;
    }

.bg {
    /* The image used */
    background-image: url("{{site.url}}/assets/img/neuralconcept.jpg");
    
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<html lang="en">
  {% include head.html %}

  <body>
      {% include header.html %}
      <div class="bg"></div>
<!--      <section id="about">-->
<!--        {% include about.html %}-->
<!--      </section>-->
<!--      <section id="projects">-->
<!--        {% include projects.html %}-->
<!--      </section>-->
        {{ content }}
      {% include footer.html %}
  </body>
