<!DOCTYPE html>

<style>
    html {
         height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #00CC00;
    }
</style>

<html lang="en">
  {% include head.html %}

  <body background="{{site.url}}/assets/img/neuralconcept.jpg">
      {% include header.html %}
<!--      <section id="about">-->
<!--        {% include about.html %}-->
<!--      </section>-->
<!--      <section id="projects">-->
<!--        {% include projects.html %}-->
<!--      </section>-->
        {{ content }}
      {% include footer.html %}
  </body>
