<!DOCTYPE html>

<style>
    html,body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #00CC00;
        background-size: 100%;
    }

#bg {
    position: fixed;
    top: 0;
    left: 0;
    
    /* Preserve aspet ratio */
    height: 100%;
}
</style>

<html lang="en">
  {% include head.html %}
  <img src="{{site.url}}/assets/img/neuralconcept.jpg" id="bg" alt="">
  <body  >
      {% include header.html %}
<!--      <section id="about">-->
<!--        {% include about.html %}-->
<!--      </section>-->
<!--      <section id="projects">-->
<!--        {% include projects.html %}-->
<!--      </section>-->
        {{ content }}
      {% include footer.html %}
  </body>
